@typescale test {
  scale: 1.5;
  font-size: 0.8rem;
  line-height: 2rem;
}

.test {
  typescale: test 0;
}

@typescale {
  scale: 1.25;
  font-size: 3rem;
  line-height: 3rem;
}

.truc {
  typescale: default 1;
}