/* System.css / settings
-------------------------------
http://francoisromain.github.io/system.css
*/

:root {
  /* Colors        ------------------------------- */
  --color-text: #666;
  --color-bg: white;
  --color-transparent: rgba(248, 247, 243, 0);
  --color-inverse: #3d3d35;
  --color-neutral: #bcb9af;
  --color-alt: #f8f7f3;
  --color-brand: #ff5400;
  --color-error: #e82239;
  --color-warning: #ff891c;
  --color-info: #5798aa;
  --color-success: #6ea040;

  /* Base units    ------------------------------- */

  /* font-size: 1rem = 16 px */
  --base-font-size: 1rem;

  /* base: 1.5rem = 24 px */
  --base-unit: 1.5rem;

  /* line: 0.0625rem = 1px */
  --base-unit-line: calc(var(--base-unit) / 24);

  /* xxs: 0.1875rem = 3px */
  --base-unit-xxs: calc(var(--base-unit) / 8);

  /* xs: 0.375rem = 6px */
  --base-unit-xs: calc(var(--base-unit) / 4);

  /* s: 0.75rem = 12px */
  --base-unit-s: calc(var(--base-unit) / 2);

  /* m: 1rem = 18px */
  --base-unit-m: calc(var(--base-unit) * 3 / 4);

  /* l: 2.25rem = 36 px */
  --base-unit-l: calc(var(--base-unit) * 3 / 2);

  /* xl: 3rem = 48px */
  --base-unit-xl: calc(var(--base-unit) * 2);

  /* xxl: 2.5rem = 60 px */
  --base-unit-xxl: calc(var(--base-unit) * 2.5);

  /* Text sizes    ------------------------------- */

  /* typographic scale and vertical rhythm:
     cf http://type-scale.com/ or http://www.gridlover.net/app/
     default to major third 1.250
  */
  
  /* h6, .xs: 10px / 12px */
  --text-xs: 0.64rem;
  --baseline-xs: 0.5;

  /* h5, .s: 12px / 24px */
  --text-s: 0.8rem;
  --baseline-s: 1;

  /* h4, .m: 16px / 24px */
  --text-m: 1rem;
  --baseline-m: 1;

  /* h3, .l: 28.4px / 24px */
  --text-l: 1.563rem;
  --baseline-l: 1.5;

  /* h2, .xl: 37.9px / 36px */
  --text-xl: 1.953rem;
  --baseline-xl: 1.5;

  /* h1, .xxl: 39px / 48px */
  --text-xxl: 2.441rem;
  --baseline-xxl: 2;

  /* .xxxl: 48px / 48px */
  --text-xxxl: 3.051rem;
  --baseline-xxxl: 2;

  /* .lead: 20px / 36px */
  --text-lead: var(--text-l);
  --baseline-lead: var(--baseline-l);

  /* .blockquote: 20px / 24px */
  --text-blockquote: var(--text-l);
  --baseline-blockquote: var(--baseline-l);

  /* margin-bottom: 24px */
  --baseline-margin-bottom: 1;
  --hr-style: dashed;
  --hr-color: var(--color-inverse);

  /* Buttons       ------------------------------- */
  --btn-radius: var(--base-unit-xs);
  --btn-color: var(--color-brand);
  --btn-color-bg: var(--color-bg);
  --btn-color-active: var(--color-alt);
  --btn-color-bg-active: var(--color-brand);
  --btn-alt-color: var(--color-bg);
  --btn-alt-color-bg: var(--color-neutral);
  --btn-alt-color-active: var(--color-bg);
  --btn-alt-color-bg-active: var(--color-brand);
  --btn-flash-color: var(--color-bg);
  --btn-flash-color-bg: var(--color-brand);
  --btn-flash-color-active: var(--color-bg);
  --btn-flash-color-bg-active: var(--color-inverse);
  --btn-b-width: var(--base-unit-line);
  --btn-b-style: solid;
  --btn-b-color: var(--color-text);
  --btn-b-color-bg: var(--color-bg);
  --btn-b-color-border: var(--color-alt);
  --btn-b-color-active: var(--color-inverse);
  --btn-b-color-bg-active: var(--color-bg);
  --btn-b-color-border-active: var(--color-inverse);

  /* Lists         ------------------------------- */
  --list-postfix: ",";
  --list-prefix: "―";

  /* Tables        ------------------------------- */
  --table-border-style: dotted;
  --table-border-color: var(--color-neutral);
  --table-border-width: var(--base-unit-line);
  --table-pad: var(--base-unit-xs);

  /* Grid          ------------------------------- */

  /*
  This is binded to postcss-grid-system configuration:
  https://github.com/francoisromain/postcss-grid-system#configuration

  use the grid your stylesheet:
  https://github.com/francoisromain/postcss-grid-system#usage
  */

  /* width of a single bloc in rem */
  --gs-width: 20.5rem;

  /* width of the gutter in rem */
  --gs-gutter: var(--base-unit);

  /* padding of the main conatiner in rem */
  --gs-padding: var(--base-unit);

  /* maximum number of blocs */
  --gs-max: 8;

  /* minimum number of blocs */
  --gs-min: 2;

  /* float or flex */
  --gs-display: flex;

  /* center or left */
  --gs-align: center;

  /* Utils         -------------------------------  */

  /* adding of class .pad and .pad-h */
  --pad: var(--base-unit-s);
}
