/*
    Theme
-------------------------------
*/

@typescale {
  scale: 1.25;
  font-size: 1rem;
  line-height: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
blockquote,
p,
address,
table,
fieldset,
figure,
pre,
hr,
textarea {
  margin-bottom: var(--base-unit);
}


/*
    Sticky footer
-------------------------------
http://mystrd.at/modern-clean-css-sticky-footer/
*/

html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0 0 5rem;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5rem;
  width: 100%;
}

html {
  background-color: var(--color-bg);
  color: var(--color-text);
  typescale: 0 1;
}


h1 {
  typescale: 4 2;
}

h2 {
  typescale: 3 1.5;
}

h3 {
  typescale: 2 1.5;
}

h4 {
  typescale: 1 1;
}

h5 {
  typescale: -1 1;
}

h6,
small {
  typescale: -2 0.5;
}

.lead {
  typescale: 2 1.5;
}

blockquote {
  typescale: 2 1.5;
  font-style: italic;
  padding-left: var(--base-unit);
  padding-right: var(--base-unit);
}

hr {
  border: 0;
  height: 0;
  border-top: var(--base-unit-line) var(--hr-style) var(--hr-color);
  margin-top: calc(var(--base-unit) / 24 * -1);
  clear: both;
}

a {
  text-decoration: none;
  border-bottom: 1px solid;
  color: var(--color-text);
}

a:visited {
  color: var(--color-text);
}

a:hover,
a:active,
a:focus {
  color: var(--color-brand);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.01em;
  font-weight: 700;
}

b,
strong,
.strong {
  font-weight: 700;
}

header {
  padding-top: var(--base-unit-xl);
}

@gs {}

@gf {
  width: 1;
  gutter: 1.5rem;
  display: flex;
}

.container {
  gs: container;
}

.row {
  gf: row;
}

@gs-media 0 {
  .bloc-code {
    gf: blob 1;
  }
}

@gs-media 3 {
  .bloc-code {
    gf: blob 1/2;
  }
}

.margin-top-s {
  margin-top: var(--base-unit-s);
}

code {
  white-space: pre-wrap;
  background-color: var(--color-alt);
  display: block;
  padding: var(--pad);
  white-space: pre;
  hyphens: none;
  word-wrap: break-word;
}

:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--color-neutral);
}

.token.punctuation {
  color: var(--color-neutral);
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: rgba(212, 67, 74, 1.0);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: rgba(57, 119, 191, 1.0);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.function {
  color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}