:root {
  --base-font-size: 1rem;
  --unit: 1.5rem;
}

@typescale {
  scale: 1.25;
  font-size: var(--base-font-size);
  line-height: var(--unit);
}

.text-xxxl {
  typescale: 4 2;
}

.text-xxl {
  typescale: 3 2;
}

.text-xl {
  typescale: 2 1.5;
}

.text-l {
  typescale: 1 1.5;
}

.text-m {
  typescale: 0 1;
}

.text-s {
  typescale: -1 1;
}

.text-xs {
  typescale: -2 0.5;
}
