:root {
  --base-font-size: 1rem;
  --unit: 1.5rem;
}

@typescale {
  scale: 1.25;
  font-size: var(--base-font-size);
  line-height: var(--unit);
}

.xxxl {
  typescale: 4 2;
}

.xxl {
  typescale: 3 2;
}

.xl {
  typescale: 2 1.5;
}

.l {
  typescale: 1 1.5;
}

.m {
  typescale: 0 1;
}

.s {
  typescale: -1 1;
}

.xs {
  typescale: -2 0.5;
}

.lead {
  typescale: 2 1.5;
}

blockquote {
  typescale: 2 1.5;
  font-style: italic;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
